@import "../helpers/mixins";
.sp-card{
    padding: 80px 0;
    background-color: rgb(214, 214, 214);
    height: 100vh;
    @include media(mopile){
        min-height: 150vh;
     }
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .first{
            display: flex;
            justify-content: space-between;
            @include media(mopile){
              flex-direction: column;
              gap: 15px;
             }
            .left{
                width: 73%;
                background-color: white;
                padding: 15px;
                border-radius: 15px;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                gap: 15px;
                --tw-shadow: 0 1px 2px rgba(0,0,0,.05);
                --tw-shadow-colored: 0 1px 2px var(--tw-shadow-color);
                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
                @include media(mopile){
                    width: 95%;
                    margin: 0 auto;
                   
                 }
                div{
                    max-width: 90%;
                    overflow: hidden;
                }
                .name{
                    font-weight: 800;
                    font-size: 30px;
                }
                .address{
                    display: flex;
                    gap: 10px;
                }
            }
            .right{
                width: 25%;
                background-color: white;
                background-color: white;
                padding: 15px;
                border-radius: 15px;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                gap: 15px;
                --tw-shadow: 0 1px 2px rgba(0,0,0,.05);
                --tw-shadow-colored: 0 1px 2px var(--tw-shadow-color);
                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
                @include media(mopile){
                    width: 95%;
                    margin: 0 auto;
                   
                 }
                a{
                    text-decoration: none;
                    display: flex;
                    gap: 15px;
                    background-color: rgb(22, 120, 201);
                    padding: 5px;
                    color: white;
                    align-items: center;
                    border-radius: 10px;
                    font-size: 18px;
                    transition: 0.2s;
                    &:hover{
                        background-color: black;
                    }
                }
                .lnks{
                    display: flex;
                    justify-content: space-between;
                }
                img{
                    max-width: 150px;
                    min-width: 150px;
                    margin: 0 auto;
                    border-radius: 15pxs;
                }
            }
        }
        .second{
             background-color: white;
            padding: 15px;
            border-radius: 15px;
            text-transform: capitalize;
            display: flex;
        
            gap: 20px;
            --tw-shadow: 0 1px 2px rgba(0,0,0,.05);
            --tw-shadow-colored: 0 1px 2px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
            @include media(mopile){
             flex-wrap: wrap;
             }
   
   img{
    max-width: 130px;
    min-width: 130px;
    min-height: 110px;
    max-height: 110px;
    @include media(mopile){
        max-width: 80px;
        min-width: 80px;
        min-height: 50px;
        max-height: 50px;
       
     }
   }
        }
    }
}